.card-footer {
	margin-top: -10px;
}

#header-christmas {
  height: 40vh;
  min-height: 500px;
  background: url('../headings/christmas.jpg');
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#christmas-header-text {
	margin-top: 220px;
}