body {
  margin-top: 120px;
}

.card-footer {
	margin-top: -10px;
	margin-bottom: 0;
}

#header-christmas {
  height: 40vh;
  min-height: 500px;
  background: url('../headings/christmas.jpg');
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#christmas-header-text, #wrapping-header-text {
	margin-top: 20%;
}

#header-decoupage {
  height: 40vh;
  min-height: 500px;
  background: url('../headings/decoupage.jpg');
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#decoupage-header-text {
	margin-top: 5%;
}

#header-wrapping {
  height: 40vh;
  min-height: 500px;
  background: url('../headings/wrapping.jpg');
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#header-toys {
  height: 40vh;
  min-height: 400px;
  background: url('../headings/toys.png');
  background-position: bottom;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.toys {
  margin-top: -15px;
}

#header-cards {
  height: 40vh;
  min-height: 400px;
  background: url('../headings/cards.jpg');
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#cards-header-text {
  margin-top: 3%;
}

#header-cross-stitch {
  height: 40vh;
  min-height: 400px;
  background: url('../headings/cross-stitch.jpg');
  background-position: top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#cross-stitch-header-text {
  margin-top: 11%;
}