body {
  margin-top: 120px;
}

.card-footer {
	margin-top: -10px;
	margin-bottom: 0;
}

#header-christmas {
  height: 40vh;
  min-height: 500px;
  background: url('../headings/christmas.jpg');
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#christmas-header-text {
	margin-top: 20%;
}

#header-decoupage {
  height: 40vh;
  min-height: 500px;
  background: url('../headings/decoupage.jpg');
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#decoupage-header-text {
	margin-top: 5%;
}